*.pyc
db.sqlite3
.idea/
*.pyo
*.mo
uwsgi.ini
log/**
!log/placeholder
media/**
**/migrations/**
**/__pycache__/**
**/workspace.xml
iysenv/
iysenv/*
venv/
venv/*
main/__pycache__/*
.vscode
.vscode/*
**.pyc
**DS_Store
iys/media/**/*
# KDE dolphin files to be omitted
.directory
coverage
.vscode
.vscode/**

