{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

{% if info is not None %}
<div class="x_content">
  <div class="alert alert-success">
      <strong>{{info}}</strong>
  </div>
</div>
{% endif %}

{% if message is not None %}
  <div class="x_content">
    <div class="alert alert-danger">
        <strong>{{message}}</strong>
    </div>
  </div>
{% endif %}

<div class="x_content">
<form autocomplete="off"  method="POST" action="{% url 'hasta:hastaAdd' %}"   class="form-horizontal form-label-left">
    {% csrf_token %}
    <div class="item form-group">
      <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Protokol Numarası <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 ">
        {{hastaForm.protokolNo}}
      </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">T.C. Kimilik Numarası </span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.tcNo}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Adı</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.name}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Soyadı</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.surname}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Cinsiyeti</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.cinsiyet}}
        </div>
    </div>


    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Doğum Tarihi</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.dogumTarihi}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Yaşı</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.yasi}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Durum Tipi</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.durumTipi}}
        </div>
    </div>


    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Boy</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.boy}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Kilo</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.kilo}}
        </div>
    </div>
    
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Vucut Yüzey Alanı</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.vucutYuzeyAlani}}
        </div>
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Kurum Bilgisi</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.kurumBilgisi}}
        </div>
    </div>


    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Servis Bilgisi</span>
        </label>
        <div class="col-md-6 col-sm-6 ">
          {{hastaForm.servisBilgisi}}
        </div>
    </div>


    <div class="ln_solid"></div>
    <div class="item form-group">
      <div class="col-md-6 col-sm-6 offset-md-3">
        <button type="submit" class="btn btn-primary">   KAYDET  </button>
        <button class="btn btn-danger" type="reset">TEMİZLE</button>
        
      </div>
    </div>

  </form>
</div>
{% endblock content %}


{% block js %}
<script  type="text/javascript">

$( document ).ready(function() {
  
  $("#id_durumTipi").prop("selectedIndex", 1);

  $("#id_dogumTarihi").on('input', function(){
    calculateAge($(this).val());

});



$('#id_dogumTarihi').change(function () {
    
});


$('#id_boy').change(function () {
    var boy = $("#id_boy").val();
    var kilo = $("#id_kilo").val();

    if (boy) {
      if (kilo) {
        var result = Math.sqrt(boy * kilo / 3600);
        $("#id_vucutYuzeyAlani").val(Math.round(result*100)/100);
      }
    }

});

$('#id_kilo').change(function () {
  var boy = $("#id_boy").val();
    var kilo = $("#id_kilo").val();

    if (boy) {
      if (kilo) {
        var result = Math.sqrt(boy * kilo / 3600);
        $("#id_vucutYuzeyAlani").val(Math.round(result*100)/100);
      }
    }
});


});

function stringToDate(_date,_format,_delimiter)
{
            var formatLowerCase=_format.toLowerCase();
            var formatItems=formatLowerCase.split(_delimiter);
            var dateItems=_date.split('/');
            var monthIndex=formatItems.indexOf("dd");
            var dayIndex=formatItems.indexOf("mm");
            var yearIndex=formatItems.indexOf("yyyy");
            var month=parseInt(dateItems[monthIndex]);
            month-=1;
            var formatedDate = new Date(dateItems[2],dateItems[1],dateItems[0]);
            
            return formatedDate;
}

function calculateAge(date)
{

  var birthdayDate = stringToDate(date,"dd/mm/yyyy","/");
  var birthYear = birthdayDate.getFullYear();
  var birthMonth = birthdayDate.getMonth();
  var birthDay = birthdayDate.getDate();


  var todayDate = new Date();
  todayYear = todayDate.getFullYear();
  todayMonth = todayDate.getMonth();
  todayDay = todayDate.getDate();
 
  var age = todayYear - birthYear;

  if (todayMonth < birthMonth - 1)
  {
    age--;
  }
 
  if (birthMonth - 1 == todayMonth && todayDay < birthDay)
  {
    age--;
  }
  
  $("#id_yasi").val(age);


}



$('#id_dogumTarihi').datetimepicker({
    format: 'DD/MM/YYYY',
    
}).on('dp.change', function (ev) {
  $('#id_dogumTarihi').change();
});

function tckimlikkontorolu(tcno) {
	var tckontrol,toplam; tckontrol = tcno; tcno = tcno.value; toplam = Number(tcno.substring(0,1)) + Number(tcno.substring(1,2)) +
	Number(tcno.substring(2,3)) + Number(tcno.substring(3,4)) +
	Number(tcno.substring(4,5)) + Number(tcno.substring(5,6)) +
	Number(tcno.substring(6,7)) + Number(tcno.substring(7,8)) +
	Number(tcno.substring(8,9)) + Number(tcno.substring(9,10));
	strtoplam = String(toplam); onunbirlerbas = strtoplam.substring(strtoplam.length,strtoplam.length-1);

	if(onunbirlerbas == tcno.substring(10,11)) {
		
	} else{
		alert("TC numarası yanlış");
	}
}

</script>
<script src="{% static 'base/vendors/validator/validator.js' %}"></script>
{% endblock js %}