{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Protokol No</th>
        <th>TC No</th>
        <th>Cinsiyet</th>
        <th>Servis</th>
        <th>Kurum</th>
        <th>Durum</th>
        <th>Oluşturulma Tarihi</th>
        <th>Düzenle</th>
      </tr>
    </thead>


    <tbody>
        {% for hasta in hastalar %}
            <tr>
                <td>{{hasta.name}}</td>
                <td>{{hasta.surname}}</td>
                <td>{{hasta.protokolNo}}</td>
                <td>{{hasta.tcNo}}</td>
                <td>{{hasta.cinsiyet.name}}</td>
                <td>{{hasta.servisBilgisi.servisAdi}}
                <td>{{hasta.kurumBilgisi.name}}</td>
                <td>{{hasta.durumTipi.name}}</td>
                <td>{{hasta.created_at}}</td>
                <td>
                  <a href="{% url 'hasta:hastaEdit' hasta.pk %}">Düzenle</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock content %}