{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="x-content">

    <form class="form-label-left input_mask" id="demo-form2"  action="{% url 'report:durumReport' %}" method="post" target="_blank">
    {% csrf_token %}
        <div  class="col-md-12 col-sm-12 " >
            <div class="x_panel">
                <div class="x_title">
                    <h2>Hasta Arama</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Adı </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.name}}
                        </div>
                    </div>
                </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Soyadı </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.surname}}
                        </div>
                    </div>
                 <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " >Protokol Numarası </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.protokolNo}}
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " >TC Kimlik Numarası </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.tcNo}}
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Doğum Tarihi </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.dogumTarihi}}
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Servisi </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.servisBilgisi}}
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Cinsiyet </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.cinsiyet}}
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <label class="col-form-label col-md-1 col-sm-1 " for="first-name">Durumu </span>
                            </label>
                        <div class="col-md-6 col-sm-6 ">
                            {{form.durumTipi}}
                        </div>
                    </div>
                </div>
            <input class="btn btn-success" type="submit" value="   ARA    "/>
            </div>
            
        </div>
        

    </form>

</div>

<script type="text/javascript" src="{% static 'base/vendors/jquery/dist/jquery.min.js' %}"></script>

{{ form.media }}

{% endblock content %}

{% block js %}

<script type="text/javascript" src="{% static 'base/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <script type="text/javascript">
        {% comment %} $('#id_baslangicTarihi').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#id_bitisTarihi').datetimepicker({
            format: 'DD/MM/YYYY'
        }); {% endcomment %}
    </script>

{% endblock js %}