{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}



<table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Protokol No</th>
        <th>Recete Tarihi</th>
        <th>İlac Adı</th>
        <th>Etken Madde</th>
        <th>Düzenle</th>
        <th>Sil</th>
      </tr>
    </thead>

    <tbody>
        {% for recete in object_list %}
            <tr>
                <td>{{recete.hasta.name}}</td>
                <td>{{recete.hasta.surname}}</td>
                <td>{{recete.hasta.protokolNo}}</td>
                <td>{{recete.receteTarihi}}</td>
                <td>{{recete.ilac.name}}</td>
                <td>{{recete.ilac.etkenMadde}}</td>
                <td><a href="{% url 'recete:recete-update' recete.pk %}">edit</a></td>
                <td>
                    <form method="post" action="{% url 'recete:recete-delete' recete.pk %}">
                    {% csrf_token %}
                        <input type="submit"  value="Sil"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock content %}