{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}








  <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Reçete Hazırlama Ekranı<small></small></h2>
          
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive">
                      <div class="col-sm-6">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>İlaç Adı</th>
                                <th>Toplam Miktar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for info in infoList %}
                                <tr>
                                    <td>{{info.ilacAdi}}</td>
                                    <td>{{info.toplamMiktar}} ML</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
      
                      </div>
                      <div class="col-sm-6">
                    <form method="POST"  class="form-horizontal form-label-left" style="margin-top:50px;">
                        {% csrf_token %}
                            <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Recete Tarihi
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                <input class="date-picker form-control" name="receteTarihi" />
                              </div>
                            </div>
                        
                            <div class="item form-group">
                              <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="submit" class="btn btn-success">ARA</button>
                              </div>
                            </div>
                        
                        </form>
                      </div>


                


          <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Protokol No</th>
                  <th>Hasta Adı Soyadı</th>
                  <th>TC No</th>
                  <th>Reçete Tarihi</th>
                  <th>İlaç Adı</th>
                  <th>Servis Adı</th>
                  <th>Uygulama Saati</th>
                  <th>Yazdır</th>
                </tr>
              </thead>
          
              <tbody>
                  {% for recete in hazirlamaListesi %}
                    {% for hazirmaSaati in recete.uygulamaSaati.all %}
                      <tr>
                          <td>{{recete.hasta.protokolNo }}</td>
                          <td>{{recete.hasta.name }} {{recete.hasta.surname }}</td>
                          <td>{{recete.hasta.tcNo}}</td>
                          <td>{{recete.receteTarihi}}</td>
                          <td>{{recete.ilac.adi}}</td>
                          <td>{{recete.hasta.servisBilgisi.servisAdi}}</td>
                          <td>{{hazirmaSaati.saat}}</td>
                          <td><a href="{% url 'recete:recete-print' recete.pk hazirmaSaati.pk%}" target="_new">Yazdır(PDF)</a></td>
                      </tr>
                    {% endfor %}
                  {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>




{% endblock content %}




{% block js %}
<script  type="text/javascript">
$('.date-picker').datetimepicker({
    format: 'YYYY-MM-DD'
});



</script>

{% endblock js %}